.todo_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(var(--b3) / var(--tw-bg-opacity, 1));
    padding: 10px 15px;
    border-radius: 10px;
    height: 100%;
    min-height: 100px;

    &__item {
        display: flex;
        align-items: center;
        width: 90%;

        input[type="checkbox"] {
            margin-right: 10px;
            border-color: #828282;
            border-width: 2px;
            animation: none;
        }

        &__text {
            font-weight: 500;
            color: hsl(var(--bc) / var(--tw-text-opacity, 1));
    
            &.completed {
                text-decoration: line-through;
            }
        }

        &__text_loading {
            display: block;
            width: 100%;
            height: 25px;
            border-radius: 8px;
        }

        form {
            width: 100%;
        }

        .editable_input {
            background-color: transparent;
            border: 0 none;
            border-bottom: 1px solid #afafaf;
            color: #3b3b3b;
            outline: none;
            width: 100%;
            font-weight: 500;
        }
    }

    button {
        margin-left: 10px;
        width: 2rem;
        height: 2rem;
        min-height: auto;
        transition: none;
        animation: none;

        svg {
            width: 1.35em;
        }
    }
}

@keyframes reveal {
	to {
		color: #3b3b3b;
	}
}
@keyframes rollIn {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}
@keyframes rollOut {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(105%);
	}
}